.MyAboutus {
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
    text-align: justify;
    font-family: Arial, sans-serif;
}

.AboutUsTopContainer h1 {
    margin-bottom: 30px;
    text-align: center;
    padding-top: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #150546;
}

.AboutUsTopContainer h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #150546;
}

.AboutUsTopContainer p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #6b6b6b;
}

.AboutUsTopContainer .team-section {
    
    padding: 50px;
    text-align: center;
  }
  
 .AboutUsTopContainer .team-section h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  
 .AboutUsTopContainer .team-section p {
    font-size: 16px;
    margin-bottom: 50px;
  }
  
 .AboutUsTopContainer .team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.AboutUsTopContainer  .team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 30px;
    padding: 30px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
 .AboutUsTopContainer  .team-member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 5px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
 .AboutUsTopContainer .team-member img:hover {
    transform: scale(1.1);
  }
  
 .AboutUsTopContainer .team-member h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #150546;
    text-align: center;
  }
  
 .AboutUsTopContainer .team-member p {
    font-size: 16px;
    line-height: 1.5;
    color: #6b6b6b;
  } 

 .AboutUsTopContainer .card {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    margin: 20px 0;
    overflow: hidden;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  
 .AboutUsTopContainer .card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border: 5px solid white;
  }
  
 .AboutUsTopContainer .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align content to the left */
    width: 70%;
    padding: 10px;
    background-color: #fff;
  }
  
 .AboutUsTopContainer .card-content h2 {
    margin-top: 0;
    text-align: left; /* Center the heading text */
  }
  
 .AboutUsTopContainer .card-content p {
    margin-bottom: 0;
    text-align: left; /* Center the description text */
  }
  


  