/* .LoginPageTop{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

} */

.LoginPageContainer{
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* padding: 100px 0px;
    max-height: 650px; */
}

.LoginPageHeader{
    padding-top: 100px;
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;

color: #150546;
}

.LoginPageTopSubtext{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: rgba(21, 5, 70, 0.6);
}

/* .LoginPageImage{
    max-width: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */

.LoginForm{
width: 400px;
padding-top: 30px;
padding-bottom: 100px;
}

.loginPageLabels{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Gray/700 */

color: #344054;
}

.loginButton{
    background: #7F56D9;
    color: white;
/* border: 1px solid #6552FF; */
border: none;
/* Shadow/xs */

box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;
}

.buttonsDiv{
    margin-top: 25px;
    height: 100px;
}

.subtextLoginButton{
    /* margin-top: 50px !important; */
    color: #667085;;
    cursor: pointer;
    text-decoration: underline;
}

/* .LoginPageFooter{
    position: absolute !important;
    bottom: 100px !important;
} */