.navbar{
    box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
    /* margin-bottom: 150px; */
}

.NavbarBrand{
    cursor: pointer;
}

.cdaclogo{
  height: 50px;
  background: transparent;
}

.navbar-brand{
    font-size: x-large;
    font-weight: bold;
    color: #150546;
}

.nav-item .nav-link {
    font-size: large;
    
    color: black !important;
}

.loginLink , .learningPathLink{
    cursor: pointer;
}



.NavbarSignUpButton{
    background-color: #6552FF;
    color: white;
    border: none;
    border-radius: 8px;
}

nav li {
    display: inline-block;
    padding: 0 15px; 
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    width: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}

  
  

  .UserNavbarPhoto{
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  .NavbarUserLinks{
    cursor: pointer;
  }