.dummypagetop{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../Images/bg2.jpg");
    background-size: cover;
    /* color: white; */
}


